@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dad Jokes!</h1>
    <p class="lead">Here you can find an awesome amount of great dad jokes from the great dad jokes 
    repository <a href="https://icanhazdadjokes.com">icanhazdadjokes.com</a>! Choose how you want to see your jokes below:</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Random Dad Jokes</h2>
        <p>
            Here you will be able to see a random dad joke every ten seconds!.
        </p>
        <p>@Html.ActionLink("Random Dad Jokes >>", "RandomDadJoke", "Jokes", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-6">
        <h2>Search Joke by Word</h2>
        <p>Here you can search your jokes for a theme of your choice! Just enter the word in the search bar and laugh your heart out!</p>
        <p>@Html.ActionLink("Search Dad Jokes >>", "SearchDadJoke", "Jokes", null, new { @class = "btn btn-default" })</p>
    </div>    
</div>